<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Mongoose Movies</title>
</head>
<body>
  <h1>Products list</h1>
  <table>
    <thead>
      <tr>
        <th>Item</th>
        <th>Rating</th>
        <th>Comments</th>
      </tr>
    </thead>
    <tbody>
      <% product.forEach(i => { %>
        <tr>
          <td><%= i.item %></td>
          <td><%= i.rating %></td>
          <td><%= i.complaint %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</body>
</html>