<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h2>Enter a Product</h2>
<form action="/products" method="POST">
  <label>Item:
    <input type="text" name="item">
  </label><br>
  <label>Rating:
      <input type="number" name="rating">
  </label><br>
  <label>Complaint
    <input type="text" name="complaint">
  </label><br>
  <input type="submit" value="Add Product">
</form>
</body>
</html>